---
layout: default
title: chary.us projects
---

{% assign projects = site.data.projects | sort: "name" %}
<ul>
{% sorted_for project in projects sort_by:year reversed %}
	<li>
		<span class="text-primary">{% if project.link %}<a class="text-primary" href="{{ project.link }}">{% endif %}{{ project.name }}{% if project.link %}</a>{% endif %}</span>
		<small class="text-muted pull-right">
		{% if project.terrible %}<span class="text-danger" title="We've all written bad code before, right?">Here be dragons</span> - {% endif %}
		{% if project.defunct %}<span class="text-danger" title="No longer in operation.">Defunct</span> - {% endif %}
		{{ project.language }}
		{% if project.year %} - {{ project.year }}{% endif %}
		{% if project.source %} - <a href="{{ project.source }}">Open source</a>{% else %}
		- <span class="text-warning">Closed source</span>{% endif %}
		</small><br/>
		{{ project.description }}
	</li>
{% endsorted_for %}
</ul>
