<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineering Co-op</h3>
                            <div class="time">August 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">GE Power, Atlanta</div>
                    </div><!--//meta-->
                    <div class="details">
                       <p></p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineering Apprenticeship Program (SWEAP) Intern</h3>
                            <div class="time">June 2016 - August 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">GE Digital, New Orleans</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>At GE Digital, I worked with 3 other interns to build an iOS application to do hands-free
                        piloting of DJI drones from scratch. The application was capable of recording GPS-based missions
                        into a local database, playing back said missions, and of uploading captured images for later
                        analysis.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Enterprise Wintel Services Intern</h3>
                            <div class="time">May 2015 - August 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Norfolk Southern Corporation, Atlanta</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>While working for the Windows Server group for Norfolk Southern, I performed a variety of
                        tasks related to automating server administration tasks. Tools I became familiar with include
                        Powershell, Microsoft T-SQL, Microsoft SharePoint, Active Directory administration, HP iLO,
                        and many Windows Server administration tools (SCOM, SSRB and SSRS, Exchange, and IIS). I also
                        assisted in the systematic decommission and upgrade of several hundred servers from WS 2003 to
                        WS 2012.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->