<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineering Intern</h3>
                            <div class="time">May 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">GE Digital, GE Power</div>
                    </div><!--//meta-->
                    <div class="details">
                       <ul>
                           <li>Worked with 3 other interns building a Swift/Obj-C app to automate DJI drone flight through 3-D space</li>
                           <li>Developed a cross-platform mobile app to scan QR codes and track inventory throughout the lifecycle</li>
                           <li>Reverse-engineered undocumented Spring Boot and Ionic application built out of house and wrote technical documentation for
                           users migrating this application between cloud environments</li>
                           <li>Developed a room booking web and mobile app for our New Orleans office capable of graphically mapping office spaces and
                           dynamically booking resources in Exchange</li>
                           <li>Worked extensively within the ServiceNow ecosystem developing solutions for IT operations management at GE Digital</li>
                       </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Enterprise Wintel Services Intern</h3>
                            <div class="time">May 2015 - August 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Norfolk Southern Corporation, Atlanta</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Automated various server administration tasks for the Windows server group</li>
                            <li>Familiarized self with PowerShell, T-SQL, SharePoint, AD, and many other facets of Windows Server administration</li>
                            <li>Assisted in the decommission and physical-to-virtual conversion for hundreds of outdated Windows Server 2003 instances</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Assistant</h3>
                            <div class="time">August 2014 - May 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Georgia State University Computer Science</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Deployed departmental ticketing system based on osTicket and developed custom IT asset tracking plugin using PHP and MySQL</li>
                            <li>Performed basic IT functions for department graduate students and professors</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">August 2012 - December 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Full Ambit Media LLC.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Maintained and developed features for our in-house PHP content management system, SiteSense</li>
                            <li>Helped build out a basic PAAS (similar to WordPress.com) for clients using SiteSense</li>
                            <li>Installed and configured cPanel and WHMCS for our company’s web hosting platform</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

</section><!--//section-->