---
---

$darkText: rgb(218, 218, 218);

$darkBg: rgb(40, 44, 47);
$darkAccent: rgb(91, 98, 104);
$lightAccent: rgb(184, 184, 184);

$sans: 'Arial', sans-serif;

html, body, h1 {
    margin: 0;
    padding: 0;
}

img, video {
    max-width: 100%;
}

ul {
    margin: 0;
}

body {
    font-family: $sans;
}

a {
    color: darken($darkAccent, 20%);
}

a:visited {
    color: darken($darkAccent, 10%);
}

.frontpage {
    line-height: 1.58em;
    padding-left: .3em;
    padding-right: .3em;
}

article {
    padding: .3em;
}

article blockquote {
    border-left: solid 2px lighten($darkAccent, 20%);
    padding-left: 10px;
    color: $darkAccent;
}

article {
    font-size: 1.2em;
    line-height: 1.58em;
}

article small {
    opacity: .5;
}

h2 {
    font-size: 2em;
}

article h2 {
    margin-top: .5em;
    margin-bottom: 0;
}

article pre {
    max-width: 100%;
    overflow: auto;
    border: 1px solid $lightAccent;
    padding: .2em;
    font-size: .8em;
}

article img {
    display: block;
    margin: auto;
}

article .frontmatter {
    font-size: .5em;
    opacity: .5;

    >:not(:last-child)::after {
        content: ' -';
    }

    .tags {
        ul {
            padding: 0;
        }

        ul, li {
            display: inline;
        }

        li:not(:last-child)::after {
            content: ',';
        }
    }
}

#load-comments {
    button {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        display: block;
    }
}

hr {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid $lightAccent;
}

h4 {
    margin-bottom: 0;
}

header {
    background: $darkBg;
    color: $darkText;
    font-family: $sans;
}

header.page {
    padding: 1em;
    border-bottom: 5px solid $darkAccent;
}

header.post h1 {
    display: inline;
}

header.post h1 a, header.post h1 a:visited {
    font-size: 16px;
    line-height: 1.1;
    text-decoration: none;
    color: $darkText;
}

header.post {
    padding-bottom: .5em;
    border-bottom: 3px solid $darkAccent;
}

header.post nav a, header.post nav a:visited {
    color: $darkText;
    text-decoration: none;
    margin-right: 1.5em;
}

.widget {
    border: 1px solid $darkAccent;
    border-radius: 5px;
    height: fit-content;
}

.widget > p {
    padding: .5em;
    margin: 0;
}

.widget > p > span {
    width: 100%;
    border-bottom: 1px solid $darkAccent;
    font-weight: 700;
    display: block;
    margin-bottom: .2em;
}

.widget.profile-pic > img {
    width: 100%;
}

// desktop only styles
@media screen and (min-width: 850px) {
    header.post nav {
        float: right;
        margin-top: 1em;
    }
    header.page {
        font-size: 2em;
    }
    .container {
        width: 768px;
        margin: auto;
    }
    .container-flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .frontpage {
        padding: 0;
    }
    .widget {
        margin-top: .5em;
        margin-left: .25em;
        margin-right: .25em;
        width: 30%;
    }
    .widget.profile-pic {
        padding: 0;
        float:right;
        margin-left: 1em;
    }
}
