body {
    background-color: #263238;
    color: #ECEFF1;
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    color: #ECEFF1;
}
#container {
    margin-top: 2em;
    width:50em;
    margin-left: auto;
    margin-right: auto;
}
#name {
    float:left;
}
#name h1 {
    font-family: 'Contrail One', cursive;
    font-size:5em;
    margin-bottom:0;
    margin-top:0;
    margin-right:20px;
}
#name a {
    text-decoration: none;
}
#links {
    float:right;
}
.linklet img {
    width: 60px;
    height: 60px;
    margin:0;
    padding:0;
}
.linklet {
    margin:5px;
    display: inline-block;
    width: 60px;
    text-align:center;
    font-weight:600;
    letter-spacing: -1px;
    text-decoration: none;
}
.section {
    clear: both;
    display: block;
}
.fancy {
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.fancy span {
    position: relative;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #546E7A;
    border-top: 1px solid #546E7A;
    width: 600px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}
#footer {
    text-align:right;
    font-size:80%;
    padding-top: 15px;
    font-weight: 200;
    color: #455A64;
}
.pull-right {
    float:right;
}
.pull-left {
    float:left;
}
.align-center {
    text-align: center;
}
.project {
    display:block;
    float:left;
    width:32%;
    margin-left:0;
    margin-right:0;
    height:25em;
    text-align: justify;
    text-justify: distribute;
}
.project a {
    clear:both;
    display:block;
    width:100%;
    text-align:center;
}
.project img {
    width:100%;
}
.project-inner {
    margin-right: .9%;
    border-right: 1px solid #546E7A;
    padding-right: .9%;
}
a.bracket {
    text-decoration:none;
}
.bracket:before, .bracket:after {
    color: #546E7A;
    font-weight: 800;
    text-decoration:none;
}
.bracket:before {
    content: "<";
    padding-right:1px;
}
.bracket:after {
    content: ">";
    padding-left:1px;
}