---
layout: default
title: chary.us blog
---

{% for post in paginator.posts %}
<section class="section blog-section">
	<a href="{{ post.url }}"><h2 class="section-title"><i class="fa fa-pencil"></i>{{ post.title }}</h2></a>
	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<div class="time">{{ post.date | date: "%b %d, %Y" }}</div>
			</div><!--//upper-row-->
		</div><!--//meta-->
		<div class="details">
			<p>{{ post.content }}</p>
		</div><!--//details-->
	</div><!--//item-->
</section>

{% endfor %}



{% if paginator.total_pages > 1 %}
	<div class="section align-center">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<span class="previous pull-left"><a class="prev left" href="/blog/">&larr; Newer</a></span>
			{% else %}
				<span class="previous pull-left"><a class="prev left" href="/blog/{{paginator.previous_page}}/">&larr; Newer</a></span>
			{% endif %}
		{% else %}
			<span class="previous disabled pull-left"><span>&larr; Newer</span></span>
		{% endif %}

		<span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<span class="next pull-right"><a class="next right" href="/blog/{{paginator.next_page}}/">Older &rarr;</a></span>
		{% else %}
			<span class="next pull-right"><span class="nope right">Older &rarr;</span></span>
		{% endif %}

	</div>
{% endif %}
