---
layout: default
title: chary.us blog
---

{% include paginator.html %}

{% for post in paginator.posts %}
<section class="section blog-section">
	<a href="{{ post.url }}"><h2 class="section-title"><i class="fa fa-pencil"></i>{{ post.title }}</h2></a>
	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<div class="time">{{ post.date | date: "%b %d, %Y" }}</div>
			</div><!--//upper-row-->
		</div><!--//meta-->
		<div class="details">
			<p>{{ post.content }}</p>
		</div><!--//details-->
	</div><!--//item-->
</section>

{% endfor %}

{% include paginator.html %}
