<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>{{ site.name }} <small>{{ site.description }}</small></h1>
			</div>
			<div class="row">
				<div class="col-md-8">
					{{ content }}
				</div>
				<div class="col-md-4">
					<form action="search.html" method="GET">
						<div class="input-group">
							<input type="text" class="form-control" name="query">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Search</button>
							</span>
						</div><!-- /input-group -->
					</form>
					<br/>
					<nav>
						<div class="list-group">
							{% for nav in site.navigation %}
							<a class="list-group-item{% if nav.purl == page.url %} active{% endif %}" href="{{ nav.url }}">{{ nav.name }}</a>
							{% endfor %}
						</div>
					</nav>
				</div>
			</div>
			<div class="page-footer">
				&copy;{{ site.time | date: '%Y' }} {{ site.name }}
			</div>
		</div>
	</body>
</html>
