---
layout: page-post
---

<article>
	<a href="{{ page.url }}"><h2>{{ page.title }}</h2></a>
	<time>{{ page.date | date: "%B %d, %Y" }}</time>
	<div class="details">
		{{ content }}
	</div>
	{% assign printedRelated = false %}
	{% assign printed = "" %}
	{% for post in site.posts %}
		{% for tag in page.tags %}
			{% if post.tags contains tag and post.url != page.url %}
				{% unless printed contains post.url %}
					{% if printedRelated != true %}
						{% assign printedRelated = true %}
						<hr/>
						<div class="related-posts">
							<h3>Related Posts on zach.bloomqu.ist</h3>
							<ul>
					{% endif %}
					<li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%Y" }})</li>
					{% assign printed = printed | append: " " | append: post.url %}
				{% endunless %}
			{% endif %}
		{% endfor %}
	{% endfor %}
	{% if printedRelated %}
	</ul>
	</div>
	{% endif %}
	<hr/>
	<div class="comments">
		<h3>Comments on "{{ page.title }}"</h3>
		<noscript>Please enable Javascript to view comments.</noscript>
		<div id="remark42"></div>
		<script>
			var remark_config = {
				host: 'https://comments.bloomqu.ist',
				site_id: 'blog',
				components: ['embed'],
				url: 'https://zach.bloomqu.ist{{ page.url }}',
				theme: 'light'
			};

			!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);
		</script>
	</div>
</article>
