---
layout: page-post
---

<article>
	<a href="{{ page.url }}"><h2>{{ page.title }}</h2></a>
	<time>{{ page.date | date: "%B %d, %Y" }}</time>
	<div class="details">
		{{ content }}
	</div>
	<hr/>
	<div class="comments">
		<h3>Comments</h3>
		<noscript>Please enable Javascript to view comments.</noscript>
		<div id="remark42"></div>
		<script>
			var remark_config = {
				host: 'https://comments.bloomqu.ist',
				site_id: 'blog',
				components: ['embed'],
				url: 'https://zach.bloomqu.ist{{ page.url }}',
				theme: 'light'
			};

			(function(c) {
				for(var i = 0; i < c.length; i++){
					var d = document, s = d.createElement('script');
					s.src = remark_config.host + '/web/' +c[i] +'.js';
					s.defer = true;
					(d.head || d.body).appendChild(s);
				}
			})(remark_config.components || ['embed']);
		</script>
	</div>
</article>
